body {
  font-family: sans-serif;
  margin: 0;
}

.flash-list{
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Jetbrains Mono", monospace;
}

.flash-list::-webkit-scrollbar {
  display: none;
}